@model IEnumerable<WebApplication1.Models.Contrato>

@{
    ViewData["Title"] = "Index";
}

<h1>Contratos</h1>

    <a type="button" class="btn btn-success" asp-action="Create">Crear Nuevo</a>&nbsp;<br />
    <form asp-action="ContratosVigentes">
       <label for="start">Fecha Inicio:</label> <input type="date" id="FechaInicio" name="FechaInicio">
        <label for="start">Fecha Fin:</label> <input type="date" id="FechaFin" name="FechaFin">
        <button type="submit" class="btn btn-info" >Buscar</button>
    </form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoMensual)
            </th>
            <th>
                Propiedad
            </th>
            <th>
                Inquilino
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFin)
                </td>
                <td>
                    $ @Html.DisplayFor(modelItem => item.MontoMensual)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PropiedadAlquilada.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Locatario.Apellido)
                    @Html.DisplayFor(modelItem => item.Locatario.Nombre)
                </td>

                <td>

                    @Html.ActionLink("Editar", "Edit", new { id = item.IdContrato }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdContrato }) |
                    @Html.ActionLink("Pagar", "Create", "Pagos", new { id = item.IdContrato }) |
                    @Html.ActionLink("Ver Pagos", "PorContrato", "Pagos", new { id = item.IdContrato }) |
                </td>
            </tr>
        }
    </tbody>
</table>
