@model IEnumerable<WebApplication1.Models.Contrato>

@{
    ViewData["Title"] = "ListarContratos";
}

<h1> Contratos del Inmueble  </h1>

<p>
    <a  type="button" class="btn btn-success" asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoMensual)
            </th>
            <th>
               Propiedad
            </th>
            <th>
               Inquilino
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoMensual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropiedadAlquilada.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locatario.Apellido)
                @Html.DisplayFor(modelItem => item.Locatario.Nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", "Contratos", new { id = item.IdContrato }) |
                @Html.ActionLink("Eliminar", "Delete", "Contratos", new {  id=item.IdContrato })
            </td>
        </tr>
}
    </tbody>
</table>
